.log
.logs
*.flf

PortProton.conf
QtProject.conf
connections.db
kglobalshortcutsrc
user-dirs.dirs
user-dirs.locale
yad.conf

blender/
calcurse/
ferium/
gtk-2.0/
libvirt/
htop/
zed/
Vieb/
qutebrowser/
nvim/
gnome-boxes/
chromium/
Kvantum/
Vencord/
bluetuith/
corectrl/
dconf/
hydra/
hydralauncher/
libreoffice/
menus/
xfce4/
micro/backups/
mimeapps.list
nemo/
nushell/
nvtop/
obs-studio/
obsidian/
presets/
pulse/
qBittorrent/
spotify/
uGet/
vesktop/
walker/
xsettingsd/
