.log
.logs

PortProton.conf
QtProject.conf
connections.db
kglobalshortcutsrc
user-dirs.dirs
user-dirs.locale
yad.conf

chromium/
Kvantum/
Vencord/
bluetuith/
corectrl/
dconf/
hydra/
hydralauncher/
libreoffice/
menus/
micro/backups/
mimeapps.list
nemo/
nushell/
nvtop/
obs-studio/
obsidian/
presets/
pulse/
qBittorrent/
spotify/
uGet/
vesktop/
walker/
xsettingsd/
